<div class="jumbotron">
    <h1 class="display-3">Pending List!</h1>
    <p class="lead">This is a another to do list whit a dark mode.</p>
    <hr class="my-4">
    <p>Register and save all of your pending tasks, assign them their deadline date, priority and status.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/task" role="button">Try it!</a>
    </p>
</div>